#page.pm-enabled #masthead,
#page.pm-enabled #footer-wrapper {
  display: none;
}

.presentation-mode-container {
  display: flex;
  justify-content: flex-end;
}

.presentation-mode-button {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
}

.enable-pm,
.disable-pm {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.disable-pm,
#page.pm-enabled .enable-pm {
  display: none;
}

#page.pm-enabled .disable-pm {
  display: unset;
}

